{% extends 'main/base.html'%}
{%block content %} 
     <article class="media content-section">
     	<div class="media-body">
     		<div class="article-metadate">
                <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
     			<a href="text-muted">{{object.author}}
     			</a>
     			<small class="text-muted">{{object.date_posted |date:"F d,Y"}}</small>

                {% if object.author == user%}
                  <a class="btn btn-outline-info" href="{% url 'post_update' object.id %}">Update</a>
                  <a class="btn btn-outline-danger" href="{% url 'post_delete' object.id %}">Delete</a>
                {% endif%}
     		</div>
     		<h2 class="article-title">{{object.title}}</h2>
     		<p class="article-content">{{object.content}}</p>
     	</div>
     </article>
{%endblock%}